apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flat.fullname" . }}
  annotations:
    configmap.reloader.stakater.com/reload: {{ .Chart.Name }}-config
  labels:
    {{- include "flat.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "flat.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if (eq .Values.configMap.METRICS_ENABLED "true") }}
        prometheus.io/path: {{- if (eq .Values.configMap.METRICS_ENDPOINT "") }} "/metrics" {{- else }} {{ .Values.configMap.METRICS_ENDPOINT | quote }} {{- end }}
        prometheus.io/port: {{- if (eq .Values.configMap.METRICS_PORT "") }} {{ .Values.service.internalPort | quote }} {{- else }} {{ .Values.configMap.METRICS_PORT | quote }} {{- end }}
        prometheus.io/scrape: "true"
        {{- end }}
      labels:
        {{- include "flat.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: {{ .Values.service.name }}
              containerPort: {{ .Values.service.internalPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health-check
              port: http
          readinessProbe:
            httpGet:
              path: /health-check
              port: http
          volumeMounts:
            - name: flat-server-config
              mountPath: /etc/flat-server
              subPath: config.yaml
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: flat-server-config
        configMap:
          name: {{ .Chart.Name }}-config

